
    <footer class="footer">
        <div class="container">
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <p class="text-muted">© Data by Spotify</p>
                </div>
                <div class="col-md-6 text-right">
                    <p class="text-muted">@HdN</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>