<div class="row">
    <div class="col-md-12">
        <nav>
            <ul class="pager">
                <li class="previous {{#with collection}}{{#if this.isFirst}}disabled{{/if}}{{/with}}">
                    <a href="{{firstpage path query collection }}">First</a>
                </li>
                <li class="previous  {{#with collection}}{{#unless this.hasPrevious}}disabled{{/unless}}{{/with}}">
                    <a href="{{previouspage path query collection}}" class="ml10">&larr; Previous</a>
                </li>
                <li class="next  {{#with collection}}{{#if this.isLast}}disabled{{/if}}{{/with}}">
                    <a href="{{lastpage path query collection}}">Last</a>
                </li>
                <li class="next  {{#with collection}}{{#unless this.hasNext}}disabled{{/unless}}{{/with}}">
                    <a href="{{nextpage path query collection}}" class="mr10">Next &rarr;</a>
                </li>
            </ul>
        </nav>
    </div>
</div>