<ul class="nav navbar-nav navbar-right">
    <li>
        <p class="navbar-text">Hello {{user.name}}</p>
    </li>
    <li>
        <a href="/playlists">Playlists {{#if user.playlists.length}}({{user.playlists.length}}){{/if}}</a>
    </li>
    <li>
        <a href="/user/logout">Logout</a>
    </li>
</ul>