<ul class="nav navbar-nav navbar-right">
    <li>
        <p class="navbar-text">Hello {{user.name}}</p>
    </li>
    <li {{{active '/playlists' currentPath }}}>
        <a href="/playlists">Playlists</a>
    </li>
    <li {{{active '/invites' currentPath }}}>
        <a href="/invites">Invites</a>
    </li>
    <li>
        <a href="/user/logout">Logout</a>
    </li>
</ul>