<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} - Spotie</title>

    <!-- Bootstrap & Custom CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/favicon.ico">
</head>
<body>

<!-- Fixed Navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Spotie</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Home</a>
                </li>
            </ul>

            {{#if user}}
                {{> logged }}
            {{else}}
                {{> guest }}
            {{/if}}

        </div>
    </div>
</nav>
<!-- /Fixed Navbar -->

<div class="container">

    {{> flashMessage }}

    {{{body}}}
</div>

<footer class="footer">
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-md-6">
                <p class="text-muted">© Data by Spotify</p>
            </div>
            <div class="col-md-6 text-right">
                <p class="text-muted">
                    <a target="_blank" href="https://hdn.pt">@HdN</a>
                </p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>