<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} - Spotie</title>

    <!-- Bootstrap & Libs -->
    <link rel="stylesheet" href="/css/vendor/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/vendor/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/vendor/alertify.min.css"/>
    <link rel="stylesheet" href="/css/vendor/alertify.theme.default.min.css"/>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/styles.css"/>


    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/favicon.ico">
</head>
<body>

<!-- Fixed Navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Spotie</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            {{#if user}}
                {{> logged }}
            {{else}}
                {{> guest }}
            {{/if}}

        </div>
    </div>
</nav>
<!-- /Fixed Navbar -->

<div class="container">

    {{> flashMessage }}

    {{{body}}}
</div>

<footer class="footer">
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-md-6">
                <p class="text-muted">© Data by Spotify</p>
            </div>
            <div class="col-md-6 text-right">
                <p class="text-muted">
                    <a target="_blank" href="https://hdn.pt">@HdN</a>
                </p>
            </div>
        </div>
    </div>
</footer>

    <!-- Custom Javascripts -->
    <!-- All html elements are rendered at this point -->
    <!-- this is why we are not loading js scripts in the header -->
    <script type="text/javascript" src="/js/vendor/alertify.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    {{section 'scripts' }}

</body>
</html>