/* ==========================================================================
   Stiky Footer
   ========================================================================== */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    padding-top: 70px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
}

.footer hr {
    margin-top: 15px;
    margin-bottom: 10px;
}

.btn-mine{
    margin-left: 1px;
    margin-right: 1px;
}
.search-bar{
    margin-bottom: 10px;
}

/* ==========================================================================
   Override bootstrap styles
   ========================================================================== */
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
    background-color: #9c9c9c;
}

/* ==========================================================================
   Utils
   ========================================================================== */
.mr10 {
    margin-right: 10px;
}

.ml10 {
    margin-left: 10px;
}