{{> header }}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>Ooppps</h1>
                <p>{{ message }}</p>

                <a href="/">Go to Home</a>
            </div>
        </div>
    </div>
</div>

{{> footer }}