<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1>404</h1>
            <p>Sorry! We cannot find that page.</p>

            <a href="/">Go to Home</a>
        </div>
    </div>
</div>