<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1>Ooppps Error!</h1>
            <p><strong>Message:</strong> {{message}}</p>
            <p><strong>Status:</strong> {{error.status}}</p>
            <pre>{{error.stack}}</pre>

            <a href="/">Go to Home</a>
        </div>
    </div>
</div>