<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1>Spotie</h1>
            <p>Web app in nodejs to display spotify data.</p>
        </div>

        <!-- Search Form -->
        {{> searchbar}}
        <!-- /Search Form -->
    </div>
</div>